<div class="container-fluid">
  <table style="margin: 2px;">
    <tr style="vertical-align: top;">
      <td>
            <ejs-datetimepicker
              style="width: 230px"
              id="timeFrom" name="from"
              class="form-control"
              [(ngModel)]="timeFrom"
              (change)="setDateFrom()"
              placeholder="From..."
              format ='yyyy-MM-dd HH:mm:ss'>
            </ejs-datetimepicker>
          </td>
          <td rowspan=2>
            <button class="btn btn-success" (click)="refresh()">Refresh</button>
            <br/>
            <!-- <input [(ngModel)]="imei" placeholder="IMEI..."/> -->
            <button class="btn btn-warning" (click)="toggleLiveData()">{{lifeDataState?"Off":"On"}}</button>
            &nbsp;<label>
              <input type="checkbox" [(ngModel)]="followMe" />
            </label>

          </td>
        </tr>
        <tr>
          <td>
            <ejs-datetimepicker
              style="width: 230px"
              id="timeTo" name="to"
              class="form-control"
              [(ngModel)]="timeTo"
              (change)="setDateTo()"
              placeholder="To..."
              format ='yyyy-MM-dd HH:mm:ss'>
            </ejs-datetimepicker>
      </td>
    </tr>
  </table>
</div>

<div class="container-fluid">
  <pre *ngIf="message" class="alert alert-info">{{message}}</pre>
</div>

<agm-map (mapReady)="mapReady($event)"
    >
      <!-- <agm-marker  [latitude]="initLat" [longitude]="initLng"></agm-marker> -->

      <div *ngFor="let bts of btses">
          <agm-marker [latitude]="bts.lat" [longitude]="bts.lng" [label]="bts.info"
            [iconUrl]="{
              url: '../assets/images/bts_icon.png',
              scaledSize: {
                width: 40,
                height: 40
            }
            }">
          </agm-marker>
      </div>

      <!-- <ng-container *ngIf="polylines && polylines.length>1">
          <agm-polyline
            *ngFor="let item of [].constructor(polylines.length-1); let i = index;"
            [strokeWeight]="8">
              <agm-polyline-point [latitude]="polylines[i][0]" [longitude]="polylines[i][1]"></agm-polyline-point>
              <agm-polyline-point [latitude]="polylines[i+1][0]" [longitude]="polylines[i+1][1]"></agm-polyline-point>
          </agm-polyline>
      </ng-container> -->

  </agm-map>

  IMEI={{imei}}
  <br/>
  <ul>
    <li *ngFor ="let msg of messages">
      {{msg | json}}
    </li>
  </ul>


  <pre>{{data | json}}</pre>
