<div class="container-fluid">

  <div class="form-group row">
    <label for="filterText" class="col-sm-2 col-form-label">Search</label>
    <div class="col-sm-10">
      <input
        id="filterText"
        class="form-control"
        name="filterText"
        [(ngModel)]="filterText"
        (ngModelChange)="filterRoutes()"/>
    </div>
  </div>

  <div *ngIf="routes">
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let route of filteredRoutes; let i = index;" (click)="chooseRoute(route)">

        <div class="d-flex w-100 justify-content-between">
          <span class="mb-1">{{route.name}} </span>
          <small>{{route.datefrom}} {{route.dateto}}    [{{route.days_ago}} day{{route.days_ago>1?"(s)":""}} ago]</small>
        </div>

      </li>
    </ul>
  </div>

</div>
<br/>
