<div class="container-fluid">

  <input
    style="margin-top: 2px; margin-bottom: 2px;"
    id="filterText"
    class="form-control"
    name="filterText"
    placeholder="Search..."
    [(ngModel)]="filterText"
    (ngModelChange)="filterRoutes()"/>

  <div *ngIf="routes">
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let route of filteredRoutes; let i = index;" (click)="chooseRoute(route)">

        <div class="d-flex w-100 justify-content-between">
          <span class="mb-1">{{route.name}}</span>
          <small><span style="color:blue">{{route.day}}</span>, {{route.days_ago}} day{{route.days_ago>1?"(s)":""}} ago</small>
        </div>

      </li>
    </ul>
  </div>

</div>
<br/>
